.cls-1 {
	fill: #66499d;
}
.cls-2 {
	fill: #ea4435;
}
.cls-3 {
	fill: #547dbf;
}
.cls-4 {
	fill: none;
	stroke: #231f20;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 6px;
}
.cls-5 {
	fill: #34a851;
}
.cls-6 {
	fill: #f9bc15;
}
